body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
html {
    background-color: lightsteelblue;
}






body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    max-width: 1000px;
    width: 100%;
    border: 3px solid steelblue;
    margin: 0 auto;
    background-color: white;
}

header {
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);

}

header h2 {

font-size: 250%;
font-style: italic;
color: steelblue;
text-shadow: 3px 3px 7px steelblue;

}
header h2, header h3{
    padding-left: 2em;

}

h1,h2,h3,h4 {
    margin: .75em 1em;

}
p {
    margin: .75em;
}

header img{
    float: left;
    border: 2px solid red;

}

main{
    clear: left;

}
/* section link colors */
section a:link, section a:visited {
    color: maroon;

}
section a:hover, section a:focus{
    color: steelblue

}
/* aside link color*/

aside a:link, aside a:visited {
    color: steelblue


}

aside a:hover, aside a:focus{
    color: maroon

}
aside li{
    line-height: 2em;


}
footer{
    background-color: steelblue;
    padding: 15px 0;
 
}



footer p{
    font-size: 75%;
    text-align: center;
    color: white;
    margin-top: 50px;
}


