*{
    box-sizing: border-box;
    margin: 0;
    padding: 0%;


}






body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
}
.clearfix::after{
    content: "";
    clear: both;
    display: table;


}

.shadow{
    text-shadow: 3px 3px 8px gray ;

}


html {
    background-color: lightsteelblue;
    background-image: url(../images/bgtile.jpg);
}






body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    max-width: 1200px;
    width: 100%;
    border: 3px solid steelblue;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 10px black;
    
}

header {
    border-bottom: 3px solid steelblue;
    background-image: linear-gradient(white, lightsteelblue);
    border-radius: 25px 25px 0 0;

}

header h2 {

font-size: 250%;
font-style: italic;
color: steelblue;
text-shadow: 3px 3px 7px steelblue;
+
}
header h2, header h3{
    padding: .5em;

}

h1{
    padding: .75em 0;
}
h3, h4{
    padding: .5em;
}
p{
    padding: .5em 0;
}
header img{
    float: left;
    margin: 0 .75em;
}

/*

#nav_menu{
    margin: 0;
}
#nav_menu ul{
    margin-top: 0;
    list-style-type: none;
    text-align: center;
    border-bottom: 3px solid steelblue;
    background-color: lightsteelblue;
    padding: 10px 0;
}
#nav_menu ul li{
    display: inline;
    border-right: 2px black;
    padding: 10px 3em;
}

#nav_menu #last{
    border-right: none;

}

#nav_menu ul li a{
    font-weight: bold;
    text-decoration: none;
}

#nav_menu ul li a:hover{
    color: red;

}
*/

#nav_menu{
    border-bottom: 3p solid steelblue;
}

#nav_menu ul{
    list-style-type: none;
    position: relative;
}

#nav_menu ul li{
    float: left;
    width: 20%;


}


#nav_menu ul li a{
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: steelblue;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#nav_menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
}

#nav_menu ul ul li{
    float: none;
}

#nav_menu ul li:hover > ul{
    display: block;
}

#nav_menu > ul::after{
    content:"" ;
    clear: both;
    display: block;
}

#nav_menu ul a:hover {
    color: black;
    background-color: lightsteelblue;
}
/*==============
navigation menu 
================*/
#nav_list h2{
    margin-bottom: 5px;
    text-align: center;
}

#nav_list ul{
    list-style-type: none;
}

#nav_list li{
    width: 90%;
    margin: 0 auto .5em;

}

#nav_list a{
    display: block;
    font-weight: bold;
    text-decoration: none;
    background-color: lightsteelblue;
    padding: .5em;
    color: black;
}

#nav_list a:hover{
    background-color: steelblue;
    color: white;
}


main{
    clear: left;
    padding-right: .25em;

}
/* section link colors */
section a:link, section a:visited {
    color: maroon;

}
section a:hover, section a:focus{
    color: steelblue

}
/* aside link color*/



aside a:link, aside a:visited {
    color: steelblue


}

aside a:hover, aside a:focus{
    color: maroon

}
section{
    float: left;
    width: 50%;
    padding: 0 .3em;

}
aside{
    float: left;    
    width: 25%;

}

#rightcol{
    float: right;
    width: 25%;
    border-left: 3px solid steelblue;
   padding-left: 10px;
}


aside h3{
    padding-top: 50px;
    color: maroon;
    font-size: 120%;

}



aside li{
    line-height: 2em;


}

blockquote{
    width: 80%;
    margin-left: 10%;
    padding: 3px;
    border-left: 10px solid lightcyan;
    background-color: lightcyan;
}

footer{
    clear: both;
    background-color: steelblue;
    padding: 15px 0;
    border-radius: 0 0 25px 25px;   
 
}



footer p{
    font-size: 75%;
    text-align: center;
    color: white;
    margin-top: 50px;
}


